* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242629;
    overflow: hidden;
}
.container {
    margin-top: 100px;
}

.tengah {
    line-height: 2em;
}

.profile img{
    width: 50%; 
    border-radius: 50%; 
    border: 2.5px #9B9B9B solid;
    object-fit: cover;
    
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    margin: 2em 0;
    color: #FFFFFE;
    letter-spacing: 1px;
    line-height: 1.8em;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .profile img {
        width: 50%;
    }

    .tengah {
        text-align: center;
        line-height: 1.5em;
    }
}